.footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 100vw;
    margin-top: 4em;
    padding: 1em;
    gap: 0.25em;

    background: var(--footer-background);
    color: var(--footer-text-color);
}