:root {
  --page-background-color: #FFF;

  --header-height: 2em;
  --header-padding: 1em;
  --header-background: #FFF;
  --header-text-color: #000;
  --header-text-hover-color: #FFF;
  --header-shadow-color: #464646;
  
  --button-link-background: #000;
  --button-link-text-color: #FFF;

  --dev-info-shadow: #dddddd;
  --design-info-shadow: #dddddd;

  --gallery-overlay-background: #00000050;
  --gallery-text-color: #FFF;
  --gallery-text-shadow: #464646;

  --modal-background: #FFF;
  --modal-backdrop: #464646cb;

  --footer-background: #000;
  --footer-text-color: #FFF;

  font-size: 24px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.under-construction {
  position: fixed;
  bottom: 0;
  z-index: 100000;
  padding: 0.5em;

  width: 100%;
  text-align: center;

  background-color: orange;
}

.under-construction__text {
  margin: 0;
}

@media screen and (min-width: 1000px) {
  :root {
    --header-height: 4em;
  }
}